<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <% result.forEach(function(table1){ %>

        <form action="/up/<%= table1.id %>" method="post">

            <!-- id: <input type="text" value="<%= table1.id %>" name="id"><br><br> -->
            Name: <input type="text" value="<%= table1.name %>" name="name"><br><br>
            <input type="submit" value="update" name="save">
        </form>
        <% }) %>
    </body>
</html>