<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1 style="text-align: center;">pending Task</h1>

    <table border style="margin: auto; width: 40%; text-align: center; margin-top: 30px;">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Status</th>
            
        </tr>

        <% result.forEach(function(table1){ %>
            <tr>
                <td>
                    <%= table1.id %>
                </td>
                <td>
                    <%= table1.name %>
                </td>
                <td>
                    <%= table1.status %>
                </td>
                
            </tr>
            <% })%>
    </table>
</body>
</html>